on:
  push:
    branches: [main]
  pull_request:
  release:
    types: [released]
  workflow_dispatch:
    inputs:
      tag:
        description: Tag to which the report should be attached
        required: false

name: Package QC Report

permissions: read-all

jobs:
  qc-report:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v5

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: local::.

      - name: QC report
        run: |
          lTestResults <- testthat::test_local(
            stop_on_failure = FALSE,
            reporter = "silent"
          )
          IssueTestMatrix <- qcthat::CompileIssueTestMatrix(
            dfRepoIssues = qcthat::FetchRepoIssues(),
            dfTestResults = qcthat::CompileTestResults(lTestResults)
          )
          print(IssueTestMatrix)

          # Also print to a file.
          print(IssueTestMatrix, con = "qc_report.txt")
        shell: Rscript {0}

      - name: Add to release
        if: github.event_name == 'release' || inputs.tag != ''
        uses: svenstaro/upload-release-action@v2
        with:
          file: qc_report.txt
          asset_name: qc_report_$tag.txt
          tag: ${{ github.event.release.tag_name || inputs.tag }}
          overwrite: true
