# Workflow derived from
# https://github.com/Gilead-BioStats/qcthat/tree/v1.1.0/inst/workflows/qcthat-pr_issues.yaml.
on:
  pull_request:
  # NOTE: This workflow cannot be triggered when an issue is connected to (or
  # disconnected from) the pull request via the "Development" UI of the PR or
  # issue. In that situation, either trigger the workflow manually, or edit the
  # PR body to mention the issue (such as "Closes #55").
    types: [opened, edited, reopened, synchronize]
  workflow_dispatch:
    inputs:
      pr:
        description: PR number to which comment should be added (leave blank for none).
        required: false

name: qcthat PR-Associated Issues Report

permissions:
  # Required for report.
  issues: read
  # Required to add report to pull requests as a comment.
  pull-requests: write

jobs:
  qcthat-pr_issues:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v5

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: local::.

      - name: Generate PR-Associated Issues QC Report
        env:
          qcthat_UAT: true
        run: |
          prNumber <- if ("${{ github.event_name }}" == "pull_request") {
            ${{ github.event.pull_request.number }}
          } else if ("${{ inputs.pr }}" != "") {
            ${{ inputs.pr }}
          } else {
            NA_integer_
          }

          if (is.na(prNumber)) {
            cli::cli_abort("Could not determine PR number.")
          }

          pkgload::load_all()

          IssueTestMatrix <- QCPR(intPRNumber = prNumber)
          print(IssueTestMatrix)

          # Also post as a comment.
          CommentReport(
            IssueTestMatrix,
            "PR-Associated Issues",
            intPRNumber = prNumber
          )

          # Also post a comment for UAT.
          CommentUAT(intPRNumber = prNumber)

          if (any(IssueTestMatrix$Disposition == "fail", na.rm = TRUE)) {
            cli::cli_abort("One or more tests failed or were skipped.")
          }
        shell: Rscript {0}
