on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

name: Package QC Report

permissions: read-all

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: local::.

      - name: QC report
        run: |
          lTestResults <- testthat::test_local(
            stop_on_failure = FALSE,
            reporter = "silent"
          )
          IssueTestMatrix <- qcthat::CompileIssueTestMatrix(
            dfRepoIssues = qcthat::FetchRepoIssues(),
            dfTestResults = qcthat::CompileTestResults(lTestResults)
          )
          print(IssueTestMatrix)
        shell: Rscript {0}
