# Workflow derived from
# https://github.com/Gilead-BioStats/qcthat/tree/v1.0.0/inst/workflows/qcthat-pr_issues.yaml.
on:
  pull_request:
  # NOTE: This workflow cannot be triggered when an issue is connected to (or
  # disconnected from) the pull request via the "Development" UI of the PR or
  # issue. In that situation, either trigger the workflow manually, or edit the
  # PR body to mention the issue (such as "Closes #55").
    types: [opened, edited, reopened, synchronize]
  workflow_dispatch:
    inputs:
      pr:
        description: PR number to which comment should be added (leave blank for none).
        required: false

name: qcthat PR-Associated Issues Report

permissions:
  # Required for report.
  issues: read
  # Required to add report to pull requests as a comment.
  pull-requests: write

jobs:
  qcthat-pr_issues:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v5

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: local::.

      - name: Generate PR-Associated Issues QC Report
        run: |
          prNumber <- if ("${{ github.event_name }}" == "pull_request") {
            ${{ github.event.pull_request.number }}
          } else if ("${{ inputs.pr }}" != "") {
            ${{ inputs.pr }}
          } else {
            NA_integer_
          }

          if (is.na(prNumber)) {
            cli::cli_abort("Could not determine PR number.")
          }

          library(qcthat)

          # Make the local package no longer match qcthat exactly to avoid
          # namespace issues.
          desc <- readLines("DESCRIPTION")
          desc[[1]] <- "Package: qcthat2"
          writeLines(desc, "DESCRIPTION")

          IssueTestMatrix <- QCPR(intPRNumber = prNumber)
          print(IssueTestMatrix)

          # Also post as a comment.
          CommentReport(
            IssueTestMatrix,
            "PR-Associated Issues",
            intPRNumber = prNumber
          )

          # Temporary: Check info about the UAT df.
          intUATRows <- NROW(qcthat:::envQcthat$UATIssues)
          glue::glue(
            "UAT rows: {intUATRows} (PID: {Sys.getpid()})"
          )
          glue::glue(
            "UAT df class: {class(qcthat:::envQcthat$UATIssues)} (PID: {Sys.getpid()})"
          )

          # Also post a comment for UAT.
          CommentUAT(intPRNumber = prNumber)
        shell: Rscript {0}
