on:
  pull_request:
  workflow_dispatch:

name: Functionality on GHA

permissions: read-all

jobs:
  qc-report:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v5

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: local::.

      - name: Check FetchRepoIssues
        run: |
          print(gh::gh_tree_remote())
          dfRepoIssues <- qcthat::FetchRepoIssues()
          print(dfRepoIssues)
        shell: Rscript {0}
